/**
███████╗████████╗ █████╗ ████████╗███████╗
██╔════╝╚══██╔══╝██╔══██╗╚══██╔══╝██╔════╝
███████╗   ██║   ███████║   ██║   ███████╗
╚════██║   ██║   ██╔══██║   ██║   ╚════██║
███████║   ██║   ██║  ██║   ██║   ███████║
╚══════╝   ╚═╝   ╚═╝  ╚═╝   ╚═╝   ╚══════╝
                        by CHRISVOGT.me */

/**
 * Style Guide
 */
$white: #ffffff;
$black: #000000;

$quartzite-purple: #4A3E62;
$quartzite-blue: #18ffff;
$quartzite-green: #b2ff59;

$grey-50: #fafafa;
$grey-900: #212121;
$dark-grey: #080808;
$blue-grey-50: #eceff1;

/* ------------------------------------ */

/**
 * Layout & Structure
 */
body {
    background: $blue-grey-50;
}
ul.title-area {
    font-family: 'Quicksand', sanf-serif;
    text-transform: uppercase;
}
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.page-header {
    background: none;
    border: none;
    margin-bottom: 2em;
}
#content {
    padding: 32px 0;
}
footer {
    p,
    ul {
        line-height: 32px;
        margin-bottom: 0;
        color: #aeaeae;
    }
    .inline-list {
        margin: 0;
    }
}


/**
 * Masthead
 */
.top-bar {
    background: none;
  ul li {
    background: none;
  }
  a {
    background: none;
  }
}
.top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
  transition: background 1s ease;
}
#header-chart {
    background: $grey-900;
    position: relative;
    overflow: hidden;
}
#header-chart .chart {
    z-index: 9;
    position: relative;
}
#ticker {
    background: $grey-50;
    p {
        margin: 24px 0;
        color: #282828;
    }
    a:active {
        color: $quartzite-blue!important;
    }
}

/**
 * Typography
 */
body {
    font-family: 'Merriweather', serif;
    font-size: 1.286em;
    color: #484848;
}
a {
    text-decoration: none;
}
h2 {
    margin: 24px 0;
}
footer i.fa-heart {
    color: #990000;
}
footer i.fa-twitter {
    color: #55acee;
}
.top-bar .fa {
    color: #eaeaea;
}
// -- headlines
h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3.4em;
    color: $white;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 0px;
}
h2 {
    font-family: 'Merriweather', serif;
    color: $grey-900;
    font-size: 36px;
    line-height: 34px;
}
h3 {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    color: $white;
    line-height: 10px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
}
h4 {
    font-family: 'Quicksand', sans-serif;
    color: $black;
    font-size: 28px;
    padding-top: 5px;
}

/**
 * Quartzite gradient
 */
#social {
  background: rgba(69,39,160,1);
  background: -moz-linear-gradient(45deg, rgba(69,39,160,1) 0%, rgba(113,30,155,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(69,39,160,1)), color-stop(100%, rgba(113,30,155,1)));
  background: -webkit-linear-gradient(45deg, rgba(69,39,160,1) 0%, rgba(113,30,155,1) 100%);
  background: -o-linear-gradient(45deg, rgba(69,39,160,1) 0%, rgba(113,30,155,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(69,39,160,1) 0%, rgba(113,30,155,1) 100%);
  background: linear-gradient(45deg, rgba(69,39,160,1) 0%, rgba(113,30,155,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4527a0', endColorstr='#711e9b', GradientType=1 );
}

/* reversed */
.contain-to-grid,
footer {
  background: rgba(10,35,100,1);
  background: -moz-linear-gradient(-45deg, rgba(10,35,100,1) 0%, rgba(113,30,155,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,35,100,1)), color-stop(100%, rgba(113,30,155,1)));
  background: -webkit-linear-gradient(-45deg, rgba(10,35,100,1) 0%, rgba(113,30,155,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(10,35,100,1) 0%, rgba(113,30,155,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(10,35,100,1) 0%, rgba(113,30,155,1) 100%);
  background: linear-gradient(135deg, rgba(10,35,100,1) 0%, rgba(113,30,155,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2364', endColorstr='#711e9b', GradientType=1 );
}

/**
 * Promotional pane
 */
#promote {
    background: $grey-50;
    padding: 10px 0;
    text-align: center;
    @media only screen and (min-width: 40.063em) {
        p {
            text-align: left;
            padding: 24px 0; margin: 0;
        }
        a {
            margin: 10px auto 0;
        }
    }
}

/**
 * Social
 */
#social {
    transition: background 1s ease;
    text-align: center;
    padding: 0;
    a {
        color: #cecece;

    }
    a:hover {
        color: $white;
    }
}
#links .inline-list {
    margin-bottom: 0;
    margin: 96px auto;
}
#links li {
    float: none;
    display: inline-block;
    font-size: 1.25rem;
    margin: 0 14px;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
#links li {
        margin: 0 24px;
        font-size: 2rem;
    }
}
@media only screen and (min-width: 64.063em) {
    #links li {
        margin: 0 42px;
        font-size: 2.675rem;
    }
}
#social a,
.button {
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
 }

/**
 * Plugins
 */

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
