/**
 * Sass variables
 */

$white: #ffffff;
$black: #000000;

$quartzite-purple: #4A3E62;
$quartzite-blue: #18ffff;
$quartzite-green: #b2ff59;

$grey-50: #fafafa;
$grey-900: #212121;
$dark-grey: #080808;
$blue-grey-50: #eceff1;
