/**
 * Footer styles
 */

footer {
    p,
    a,
    li,
    ul {
        line-height: 32px;
        margin-bottom: 0;
        color: #aeaeae;
        font-size: 12px;
    }
    .inline-list {
        margin: 0;
    }
}
