/**
 * Masthead styles
 */

nav.top-bar {
    background: none;

    ul li,
    a {
        background: none;
    }
    ul.title-area {
        font-family: 'Quicksand', sanf-serif;
        text-transform: uppercase;
        padding: 0 .9375rem 0;
    }
    .top-bar-section li {
        &:not(.has-form) a:not(.button) {
            background: none;
            transition: background 1s ease;

            &:hover {
                background-color: $dodger-uniform-blue;
            }
        }
        &.active:not(.has-form) a:not(.button) {
            background-color: $dodger-blue;
        }
    }
}
